@charset "utf-8";
body {
    margin: 0px;
    padding: 0px;
}

div {
    display: block;
}

/* ！！?还是存在页面边距 */

/* 整体背景 */
.contextcontainer {
    width: 100%;
    height: 100%;
    background-color: rgb(240, 240, 240);
    margin: 0px;
    /* padding-top: 60px; */
}

/* 导航栏 */
.navigation {
    width: 100%;
    height: 55px;
    position: sticky;
    z-index: 10;
    top: 0px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 1px 3px rgba(18, 18, 18, 0.1);
}

.navigationlogo {
    position: relative;
    top: 5px;
    margin-left: 100px;
    width: 64px;
    height: 33px;
    /* color: inherit; */
    float: left;
}

.navigationlogo img {
    /* position: relative; */
    margin-top: 5px;
    width: 64px;
    height: 33px;
    color: inherit;
}

/* 选择栏目 */
.columnselector {
    width: 350px;
    height: 50px;
    position: relative;
    display: flex;
    margin-left: 25px;
    margin-right: 15px;
    float: left;
    /* border-bottom: none; */
    /* background-color: rgb(223, 160, 160); */
}

.columnselector li {
    width: 50px;
    height: 50px;
    margin-left: 3px;
    margin-right: 15px;
    /* margin: 0 15px; */
    display: inline-block;
    list-style-type: none;
    /* text-align: center; */
    font-size: 15px;
    /* overflow: hidden; */
    /* background-color: rgb(39, 5, 5); */
}

.columnselector li a {
    position: relative;
    /* display: inline-block; */
    text-decoration: none;
    color: gray;
    /* padding: 14px 0; */
}

.columnselector a:hover {
    color: black;
    font-weight: 700;
    /* border-bottom: 3px solid blue; */
}

/* .columnselector a::after{
    height: 3px;
    display: none;
    background-color: rgb(44, 44, 236);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    content: "";
} */

/* 搜索区域 */
.search {
    width: 500px;
    height: 34px;
    position: relative;
    margin-top: 10px;
    margin-left: 585px;
    display: flex;
    /* background-color: aqua; */
}

.searchText {
    width: 400px;
    height: 34px;
    position: relative;
    overflow: hidden;
    display: block;
    /* background-color: rgb(141, 60, 60); */
}

.mediumBox {
    width: 383px;
    height: 24px;
    padding-left: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    position: relative;
    border: 1px solid gray;
    border-radius: 999px;
    overflow: hidden;
    background-color: rgb(247, 247, 247);
}

.inputQuestion {
    width: 340px;
    position: relative;
    outline: none;
    height: inherit;
    display: inline-block;
    border: none;
    background-color: inherit;
    overflow: hidden;
    font-size: 15px;
}

.searchLogo {
    width: 18px;
    height: 18px;
    position: relative;
    /* margin-top: 2px; */
    margin-left: 3px;
}

.haveQuestion {
    width: 70px;
    height: 34px;
    position: relative;
    margin-top: -34px;
    margin-left: 412px;
    background-color: rgb(17, 95, 212);
    border: 0;
    border-radius: 999px;
    padding: 0 14px;
    color: white;
    /* z-index: 20; */
    float: left;
}

.context{
    width: 800px;
    height: 1500px;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
    
}
.articleContain{
    border-bottom: 1px solid  #bbbec5;
}

.comment{
    width: 800px;
    height: 500px;
    border-bottom: 1px solid  #bbbec5;
    display: flex;
}

.inputComment{
    width: 600px;
    height: 30px;
    margin: 15px 0 20px 20px;
    /* position: absolute; */
    display: inline-block;
    border: 1px solid rgb(209, 236, 247);
    border-radius: 3px;
    outline: none;
}

.inputSubmit{
    width: 90px;
    height: 30px;
    color: white;
    margin-left: 30px;
    display: inline-block;
    background-color: rgb(99, 157, 233);
    border: none;
}
#dispaly {
	width:500px;
	height:400px;
	margin:0 auto;
}
.txt1 {
	width:450px;
	height:150px;
}
.pl1 {
	background:antiquewhite;
}
#len1 {
	float:right;
}

#box {
	width:500px;
	height:400px;
	margin:0 auto;
	/*border:solid 1px red;
	*/
}
.txt {
	width:450px;
	height:150px;
}
.pl {
	background:antiquewhite;
}
#len {
	float:right;
}